<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Vindinge Støtteforening</display-name>
  <welcome-file-list>
    <welcome-file>front.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>VifServlet</servlet-name>
    <servlet-class>homepage.servlets.VifServlet</servlet-class>
    <init-param>
      <param-name>dbUser</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>dbPass</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <param-name>dbUrl</param-name>
      <param-value>jdbc:mysql://localhost:3306/vif</param-value>
    </init-param>
  </servlet>
  <description>Vindinge Støtteforenings tilmeldingsside</description>
  <session-config>
  	<session-timeout>15</session-timeout></session-config>
</web-app>