nav ul ul {
	display: none;
}
	nav ul li:hover > ul {
		display: block;
	}
	
nav ul {
	width: 100px;
	height: 40px;
	background: #555;
	display: inline-table;
	list-style: none;
	position: relative;
}
	nav ul:after {
		content: "";
		clear: both;
		display: block;
	}
	
nav ul li {
	float: left;
	text-align: center;
}
	nav ul li:hover a {
		text-decoration: none;
	}
	
	nav ul li a {
		width: 100px;
		height: 28px;
		color: #FFF;
		display: block;
		font-size: 120%;
		font-weight: bold;
		padding: 12px 0px 0px 0px;
		text-decoration: none;
	}
	
nav ul ul {
	background: #555;
	padding: 0;
	position: absolute;
	top: 100%;
}
	nav ul ul li {
		float: none;
		position: relative;
		text-align: center;
	}
		nav ul ul li a {
			width: 100px;
			height: 28px;
			background: #555;
			color: #FFF;
			padding: 12px 0px 0px 0px;
		}
			nav ul ul li a:hover {
				background: #E55715;
			}
			
nav ul ul ul {
	position: absolute;
	left: 100%;
	top:0;
}